@import "tailwindcss";

:root {
  font-family: Helvetica, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to top, #58016A, #FFC40C);
  font-family: 'Helvetica', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  
  position: relative;
  overflow-x: hidden;

  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.not-baked-text {
  color: #04622A;
  margin-bottom: 0.5rem;
  font-size: clamp(30px, 4vw, 80px);
}

.royal-text {
  color: #58016A;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.25rem;
  margin-top: 20px;
  font-size: clamp(30px, 4vw, 80px);
}

.temple-text {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
  font-size: clamp(30px, 12vw, 80px);
}

.temple-close-text {
  font-family: 'Montserrat', sans-serif;
  color: #FFD75B;
  font-size: clamp(30px, 10vw, 80px);
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.cookie-alter-ego {
  margin: 1rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(23px, 5vw, 60px);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: center;
  align-items: center;
}

button:hover {
  border-color: #000000;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.orderButton, .send-to-friend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderbtn, .friendSend, .personality-quiz {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0 auto;       /* Centers the button horizontally */
  display: flex;        /* Keeps internal content aligned via flex */
  justify-content: center; 
  align-items: center;
  height: 97px;
  border-radius: 10px;
  background-color: #113F24;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 5px solid transparent;
  border-image-source: linear-gradient(to right, #C69600, #FFE8A1, #C69600);
  border-image-slice: 1;
  transition: all 0.3s ease-in-out;

  width: 80%;
  font-size: clamp(20px, 4vw, 25px);
  max-width: 464px;
  padding: 10px 20px;

}

.orderbtn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.friendSend {
  margin-bottom: 20px;
}

.orderbtn:hover,
.friendSend:hover,
.personality-quiz:hover {
  background-color: #027D34;
}

.britney-thumbnail {
  border: 6px solid transparent;
  margin: 0 auto;       
  display: flex;        
  justify-content: center; 
  align-items: center;
  border-radius: 12px;
  border-image: linear-gradient(45deg, #58016A, #FFC40C);
  border-image-slice: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  width: 90%;
  max-width: 900px;
}

.open-sign {
  margin: 0 auto;       
  display: flex;      
  justify-content: center; 
  align-items: center;
  filter: drop-shadow(0 0 10px #0f0);
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #0f0);
  }
  50% {
    opacity: 0.8;
    filter: drop-shadow(0 0 15px #0f0);
  }
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #0f0);
  }
}

.footer-sparkle {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  opacity: 0.8;
  pointer-events: none;
  z-index: -1;
  width: 100%
}

.sunshine-ray {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  opacity: 0.45;
  pointer-events: none;
  z-index: -1;  
  
  width: 100%
}

.subway-logo-bottom{
  margin-top: 1rem; 
  margin-bottom: 0rem; 
}